Repository sho-higashi/nestjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json, prisma format

chore: 🤖 tasks
  .vscode/tasks.json
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

docs: ✏️ add docs
  redocly.yaml
  src/modules/domain/post/post.controller.ts
  src/modules/domain/user/user.controller.ts
  src/openapi-spec.json
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 set license
  redocly.yaml
  src/main.ts
  src/openapi-spec.json
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 extensions
  .vscode/extensions.json
  cspell.json
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 deps
  package.json
  pnpm-lock.yaml
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

feat: 🎸 config
  README.md
  src/main.ts
  src/modules/api-document/api-document.controller.ts
  src/modules/infra/app-config/app-config.module.ts
  src/modules/infra/app-config/app-config.service.ts
  src/modules/infra/infra.module.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

test: 💍 add test
  .vscode/tasks.json
  README.md
  package.json
  pnpm-lock.yaml
  src/modules/domain/api-document/api-document.controller.ts
  test/specs/api-document.spec.ts
  test/utils/request.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

test: 💍 add test
  src/modules/domain/post/dto/index.ts
  src/modules/domain/post/post.controller.ts
  src/modules/domain/post/post.service.ts
  src/modules/domain/user/dto/index.ts
  src/modules/domain/user/user.controller.ts
  src/modules/domain/user/user.service.ts
  test/specs/post.spec.ts
  test/specs/user.spec.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

feat: 🎸 converter
  src/modules/domain/post/dto/post.dto.ts
  src/modules/domain/post/post.service.ts
  src/openapi-spec.json
  src/utils/index.ts
  src/utils/string.spec.ts
  src/utils/string.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

test: 💍 add test
  src/modules/domain/post/post.service.ts
  src/modules/repository/post.repository.ts
  test/specs/post.spec.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

refactor: 💡 rename
  src/dto/error-response.dto.ts
  src/dto/index.ts
  src/filters/app-exception.filter.ts
  src/modules/domain/post/dto/index.ts
  src/modules/domain/post/dto/list-post.dto.ts
  src/modules/domain/post/entities/index.ts
  src/modules/domain/post/entities/list-post.entity.ts
  src/modules/domain/post/entities/post.entity.ts
  src/modules/domain/post/post.controller.ts
  src/modules/domain/post/post.service.ts
  src/modules/domain/user/dto/index.ts
  src/modules/domain/user/entities/index.ts
  src/modules/domain/user/entities/user.entity.ts
  src/modules/domain/user/user.controller.ts
  src/modules/domain/user/user.service.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 fix ci
  test/specs/post.spec.ts
  test/specs/user.spec.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

refactor: 💡 add sort lint
  .eslintrc.js
  src/modules/domain/post/dto/create-post.dto.ts
  src/modules/domain/post/dto/update-post.dto.ts
  src/modules/domain/post/entities/list-post.entity.ts
  src/modules/domain/post/entities/post.entity.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 format
  .github/workflows/ci.yml
  .vscode/tasks.json
  package.json
  src/openapi-spec.json
  test/specs/api-document.spec.ts
  test/specs/health-check.spec.ts
  test/specs/post.spec.ts
  test/specs/user.spec.ts
  test/utils/index.ts
  test/utils/shutdown.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

refactor: 💡 refactor
  src/dto/index.ts
  src/entities/error-response.ts
  src/entities/index.ts
  src/filters/app-exception.filter.ts
  src/modules/domain/post/post.controller.ts
  src/modules/domain/user/user.controller.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 update package manager
  package.json
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 lint schema.prisma
  package.json
  pnpm-lock.yaml
  scripts/lint-db.mjs
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

docs: ✏️ add license
  LICENSE
  cspell.json
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

refactor: 💡 module
  src/modules/application/post/post.module.ts
  src/modules/application/user/user.module.ts
  src/modules/infrastructure/infrastructure.module.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 fix ci
  .dockerignore
  .env.sample
  .gitignore
  README.md
  cspell.json
  docker-compose.yml
  package.json
  src/modules/application/post/dto/remove-posts.dto.ts
  src/modules/application/post/entities/index.ts
  src/modules/application/post/post.controller.ts
  src/modules/application/post/post.service.ts
  src/modules/application/post/response/index.ts
  src/modules/application/post/response/list-post-response.ts
  src/modules/application/post/response/post.ts
  src/modules/application/post/response/remove-posts-response.ts
  src/modules/application/shared/index.ts
  src/modules/application/shared/response/error-response.ts
  src/modules/application/shared/response/index.ts
  src/modules/application/user/entities/index.ts
  src/modules/application/user/response/index.ts
  src/modules/application/user/response/user.ts
  src/modules/application/user/user.controller.ts
  src/modules/application/user/user.service.ts
  src/modules/core/app-exception.filter.ts
  test/specs/post.spec.ts
  test/specs/user.spec.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

feat: 🎸 cdk
  .dockerignore
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  cdk/.npmignore
  cdk/README.md
  cdk/bin/cdk.ts
  cdk/cdk.json
  cdk/jest.config.ts
  cdk/lib/cdk-stack.ts
  cdk/package.json
  cdk/pnpm-lock.yaml
  cdk/test/cdk.test.ts
  cdk/tsconfig.json
  cspell.json
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 fix ci
  .lintstagedrc.json
  cdk/bin/cdk.ts
  cdk/jest.config.ts
  cdk/test/cdk.spec.ts
  tsconfig.json
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 fix ci
  jest.config.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 event bridge
  cdk/README.md
  cdk/bin/cdk.ts
  cdk/lib/cdk-stack.ts
  cdk/package.json
  cdk/test/cdk.spec.ts
  cspell.json
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

chore: 🤖 lint
  .eslintrc.js
  cdk/lib/cdk-stack.ts
  cdk/tsconfig.json
  jest.config.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 lint staged
  .lintstagedrc.json
  cdk/bin/cdk.ts
Due: eslint --fix, cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

ci: 🎡 refine cspell command
  package.json
Due: cspell -c ./cspell.json --no-must-find-files --no-progress, prettier --write --plugin=prettier-plugin-sort-json

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: **/*.ts
  cspell -c ./cspell.json --no-must-find-files --no-progress: any of: **/*.{js,ts,json,yml}
  prettier --write --plugin=prettier-plugin-sort-json: any of: **/*.{js,ts,json,yml}
  prisma format: any of: **/schema.prisma
